<% if logged_in? %>
	<p><%= link_to 'Your Profile', user_path(session_user) %></p>
<% else %>
	<p>Log in to mingle!</p>
<% end %>
<%= link_to 'Browse our selection of eligible people!', users_path %>
